<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Node <%= title %> App : Oracle Cloud Server</h1>
    <p>Version : 1</p>
  </body>
</html>
